[submodule "animation_shift"]
	path = animation_shift
	url = git@github.com:Project-StudioQ/animation_shift.git
[submodule "align_objects"]
	path = align_objects
	url = git@github.com:Project-StudioQ/align_objects
[submodule "camera_extends"]
	path = camera_extends
	url = git@github.com:Project-StudioQ/camera_extends
[submodule "pickup"]
	path = pickup
	url = git@github.com:Project-StudioQ/pickup
