[submodule "animation_shift"]
	path = animation_shift
	url = https://github.com/Project-StudioQ/animation_shift.git
[submodule "align_objects"]
	path = align_objects
	url = https://github.com/Project-StudioQ/align_objects
[submodule "camera_extends"]
	path = camera_extends
	url = https://github.com/Project-StudioQ/camera_extends
